* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #708080;
}

header {
  background-color: #708080;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  position: relative;
}

.site-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.logo img {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.menu-items {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
}

.menu-items li a {
  color: #fff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

.menu-items li a:hover {
  background-color: #708080;
  color: yellow;
}

.social-icons {
  display: none;
  margin-left: 1rem;
}

.social-icons img {
  width: 30px;
  margin-left: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.column1,
.column2,
.column3 {
  padding: 20px;
  width: 100%;
}

.event,
.weather,
.join,
.hero,
.new-release,
.spotlight1,
.spotlight2,
.spotlight3 {
  padding: 2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #708080;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-top: auto;
}

.footer-content,
.base-footer {
  margin-bottom: 1rem;
}

.footer-content img {
  width: 75px;
}

.footer-content p,
.base-footer p {
  margin-bottom: 0.5rem;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

header,
main {
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-container {
  width: 100%;
  background-color: #708080;
  text-align: center;
  padding: 5px;
}

.hero-p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: chartreuse;
}

.weather {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

.weather p {
  text-align: center;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.responsive-image {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.responsive-image:hover {
  transform: scale(1.2);
}

figure {
  overflow: hidden;
}

form {
  flex: 2;
  padding: 0.7em;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 1em;
}

form label {
  margin-bottom: 0.5em;
  color: white;
  display: block;
}

form input,
form textarea,
form select {
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
}

form button {
  padding: 0.7em;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 1em;
}

form button:hover {
  background-color: #444;
}

.thankyou-message {
  text-align: center;
  margin: 2em 0;
  font-size: 1.2em;
  color: #333;
}

.membership-levels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.membership-level {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.benefits {
  flex: 1;
  background-color: #f0f8ff;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.benefits p {
  margin-bottom: 0.5em;
}

.join-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#businessDirectory {
  display: grid;
  grid-template-columns: repeat(4, minmax(320px, 1fr));
  gap: 1em;
  width: 100%;
  margin: 2em auto;
}

#businessDirectory .business-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 250px;
}

#businessDirectory .business-card h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#businessDirectory .business-card p,
#businessDirectory .business-card a {
  margin: 0.5em 0;
  font-size: 1em;
}

#businessDirectory .business-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.business-card__name,
.business-card__address,
.business-card__phone,
.business-card__website {
  margin: 0;
  padding: 0.3em;
}

@media (min-width: 768px) {
  .join-content {
    display: flex;
    gap: 2rem;
  }

  form {
    flex: 1;
  }

  .membership-levels {
    flex: 1;
  }

  .join-content {
    flex-direction: row;
  }

  #businessDirectory {
    grid-template-columns: repeat(4, minmax(320px, 1fr));
  }
}

@media (max-width: 767px) {
  #businessDirectory {
    grid-template-columns: repeat(1, minmax(700px, 1fr));
    gap: 1em;
    padding: 1em;
  }

  #businessDirectory .business-card {
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
  }
}
