@media screen and (min-width: 1200px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  #businessDirectory {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
  }
  .join-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }

  form {
    flex: 1;
  }

  .membership-levels {
    flex: 1;
  }
}
