@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .menu-items {
    display: flex;
  }

  .social-icons {
    display: flex;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
  }

  #businessDirectory {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    width: 200%;
  }

  #businessDirectory .business-card {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 250px;
    object-fit: cover;
  }

  .column1 {
    flex: 1;
  }

  .column2 {
    flex: 2;
  }

  .column3 {
    flex: 1;
  }

  .join-content {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  form {
    flex: 1;
  }

  .membership-levels {
    flex: 1;
  }
}
